:root{
  /* colors */
  --primary-color:#97df5f;
  --secundary-color:#6265B4;
  --terciary-color:white;

  /* fonts */
  --font-s-titles:40px;
  --font-s-subtitles:30px;

  
  /* padings */
  --padding-sections: 0px 40px;

  /* slider vars */
  --width:300px;
  --height:300px;

}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  *,
  *::before,
  *::after {
    box-sizing: inherit;

    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  body {
    background-color: black;
    /* font */
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  img {
    max-width: 100%;
    display: block;
  }
  input, textarea, button {
    width: 300px;
    border: 2px solid var(--secundary-color); 
    background-color: transparent; 
    padding: 10px;
    border-radius: 20px;
    outline: none;
    color: var(--secundary-color) ;
  }
  button:hover {
    background-color: rgb(98 101 180 / 42%);
    transform: skew(1.1);
  }
  @media screen and (min-width:765px) {
    input, textarea, button {
      width: 640px;
    }
  }
  textarea {
    height: 200px;
    resize: none; 
  }

  input:focus, textarea {
      border-color: #4A4E8D; 
      box-shadow: 0 0 5px rgba(98, 101, 180, 0.5); 
  }
  
  input::placeholder, textarea::placeholder {
    color: #6265B4;
    opacity: 1;
    font-size: 15px;
  }
  footer{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}